@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type=search]::-webkit-search-cancel-button {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.block span {
  border-bottom: 10px solid #f2f2f2;
}

.conditions__item_icon5:before, .conditions__item_icon4:before, .conditions__item_icon3:before, .conditions__item_icon2:before, .conditions__item_icon1:before {
  max-width: 32px;
  max-height: 32px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -3px;
}

.block {
  font-size: 10px;
}
.block span {
  color: #fff;
  padding: 10px;
}

body {
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.header__container {
  max-width: 1380px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.logo {
  max-width: 151px;
}

.menu__item {
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.icon-menu {
  display: flex;
}
.search {
  background: url(../img/header/search.svg) no-repeat 9px center;
  width: 20px;
  height: 20px;
  transition: all 0.5s;
  cursor: pointer;
}
.container {
  max-width: 1380px;
  margin: 0 auto;
}

.top {
  background: #fff url(../img/header/header.png) no-repeat center;
  background-size: cover;
  min-height: 69vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.top__header {
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  display: inline-block;
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 61px;
  text-transform: uppercase;
  color: #000000;
  padding: 0 20px;
  margin-left: 10%;
}
.top__header:last-child {
  margin-bottom: 3%;
  position: relative;
}
.top__header:last-child::before {
  content: url(../img/header/bg.svg);
  position: absolute;
  left: -30px;
  bottom: -50px;
}
.top__header_greengradient {
  background: linear-gradient(270deg, #8EE901 0%, #4F9C2C 99.06%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.conditions__row {
  background: #F5F5F5;
  display: flex;
  align-items: center;
  padding: 3% 10%;
  justify-content: space-between;
}
.conditions__item {
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  position: relative;
  padding-left: 48px;
  width: 21%;
}
.conditions__item:not(:last-child) {
  padding-right: 15px;
}
.conditions__item_icon1:before {
  content: url(../img/conditions/list.svg);
}
.conditions__item_icon2:before {
  content: url(../img/conditions/time.svg);
}
.conditions__item_icon3:before {
  content: url(../img/conditions/place.svg);
}
.conditions__item_icon4:before {
  content: url(../img/conditions/product.svg);
}
.conditions__item_icon5:before {
  content: url(../img/conditions/card.svg);
}